/* 
  Would prefer styling (snowflakes) with styled components or at least SCSS/LESS.
  And a UI-library of reusable components
 */

.drawer-prescriber {
  display: flex;
  flex-direction: column;
  align-items: flex/start;
  text-align: left;
  background: #282c34 !important;
  color: white;
  font-size: 14px;
  padding: 20px;
}

.drawer-close-btn {
  display: flex;
  align-self: flex-end;
}

.drawer-close-btn:hover {
  cursor: pointer;
  text-decoration: underline;
}
